body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, ul, li, a, .lead {
  font-family: 'Ovo', serif;
  color: #ffffff
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border-left:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 0 4rem; 
  width: 80%; /* Change this to whatever width you want. */
  padding-bottom: 2rem; /* This creates some space between the element and the border. */
  border-bottom: 3px solid #ffffff; /* This creates the border. Replace black with whatever color you want. */
}

.border-right:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 0 0 8rem; 
  padding-bottom: 2rem; /* This creates some space between the element and the border. */
  border-bottom: 3px solid #ffffff; /* This creates the border. Replace black with whatever color you want. */
}

@media only screen and (max-width: 600px) {
  .border-left:after, .border-right:after{
    width: 100%;
  }
}

.grayscale {
  filter: grayscale(100%);
}

.inverted {
  color: #000000;
  background-color: rgba(255, 255, 255);
  position: relative; 
  z-index: 1;
}

section.image-line img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}



@media (min-width: 1281px) { 
  /* main text grid fun times, only for desktopsss */
  section.main-text {
    width: 80%;
    margin: 0 auto 5rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: max-content;
  }

  section.main-text .grid-item-2 {
    grid-column: 4 / span 5;
    grid-row: 2 / span 2;
  }

  section.main-text .grid-item-1 {
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
  }


  section.main-text .grid-item-3 {
    grid-column: 6 / span 4;
    grid-row: 3 / span 2;
  }

  section.main-text .grid-item-4 {
    grid-column: 3 / span 4;
    grid-row: 7 / span 2;
  }

  section.main-text .grid-item-5 {
    grid-column: 1 / span 4;
    grid-row: 6 / span 2;
  }

  section.main-text .inverted {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
